.Rproj.user
.Rhistory
.Rdata
.httr-oauth
.DS_Store
.Rproj.user
.Rhistory
**.Rdata
!app/data_appli.RData
**.rds
.Ruserdata
**.csv
**.xls
**.pdf
**.ods
**/temp/**
**/old/**
**archives**
**.htm
app/www/glyph-iconset-master.zip
**_files**
test_iframe.Rmd
.Rproj.user/*
collecte/**/.gitignore
collecte/sgbd/con*
**Frce_entiere.**
app/rsconnect/**
collecte/sgbd/wiki_sgbd.url
_communication/**
_demandes_clients/**
extdata/donnees_client/**
extdata/donnees_internes/*/
dev/implementation**
old/**/**